@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    font-family: 'League Spartan', sans-serif;
    margin: 0;
}

.color{
    color: hsl(300, 43%, 22%);
    color: hsl(333, 80%, 67%);
    color: hsl(300, 24%, 96%);
    color: hsl(303, 10%, 53%);
    color: hsl(0, 0%, 100%);
}

body{
    background: url(images/bg-pattern-bottom-desktop.svg);
    background: url(images/bg-pattern-top-desktop.svg);
    color: whitesmoke;
}

.main-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.persons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first-person,
.second-person,
.third-person{
    background-color: hsl(300, 43%, 22%);
    width: 250px;
    padding: 30px;
    border-radius: 7px;
    height: 150px;

}

.top-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
}

.rate{
    background-color: hsl(300, 24%, 96%);
    padding: 8px;
    color: hsl(300, 43%, 22%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
    width: 300px;


}
.rate-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.rate-div:nth-child(){
    left: 20px;
}

.rate-div p{
    margin-left: 15px;
    font-size: 14px;
}

.presentation{
    width: 300px;
    padding: 0 90px 0 0;display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: hsl(300, 43%, 22%);

}

.presentation h1{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
}

.presentation p {
    font-family: 'League Spartan', sans-serif;
    line-height: 18px;
}
#rate2{
    margin-left: 20px;
}

#rate3{
    margin-left: 40px;
}

.picture-name-person{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

#img-person{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right:20px;
}

.second-person{
    margin-top: 15px;
}

.third-person{
    margin-top: 30px;
}

h4{
    color:hsl(333, 80%, 67%);
    font-size: 15px;
    margin-top: 4px;
    font-weight: 400;
}